<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading" >
  <h4 class="card-header">Current loops ({{loops.length}})</h4>
  <div class="card-block table-responsive" *ngIf="!isEditing">
    <table class="table table-bordered table-striped" >
      <thead class="thead-default">
        <tr >
          <th class="col-lg-3">nome</th>
          <th class="col-lg-6">Arquivo</th>
          <th class="col-lg-3">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="loops.length === 0">
      <tr>
        <td colspan="4">There are no loops in the DB. Add a new loop below.</td>
      </tr>
      </tbody>
      <tbody >
        <tr *ngFor="let loop of loops">
          <td class="col-lg-3">{{loop.nome}}</td>
          <td class="col-lg-6">{{loop.arquivo}}</td>
          <td class="col-lg-3">
            <button class="btn btn-sm btn-warning" (click)="enableEditing(loop)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteLoop(loop)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="card" *ngIf="isEditing">
    <form class="left " #form="ngForm" (ngSubmit)="editLoop(loop)" style="text-align:center">
      <div class="card-block">
        <div class="form-group">
          <input class="form-control" type="text" name="nome" [(ngModel)]="loop.nome" placeholder="Nome" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="arquivo" [(ngModel)]="loop.arquivo" placeholder="Arquivo" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="delay_main" [(ngModel)]="loop.delay_main" placeholder="Delay Main" min="0" >
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="delay_extra" [(ngModel)]="loop.delay_extra" placeholder="Delay Extra" step="any" min="0" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="method" [(ngModel)]="loop.method" placeholder="Method" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="api" [(ngModel)]="loop.api" placeholder="API" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="usuario_id" [(ngModel)]="loop.usuario_id" placeholder="Id Usuário" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="usuario_token" [(ngModel)]="loop.usuario_token" placeholder="Token Usuário" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="data" [(ngModel)]="loop.data" placeholder="Data" required>
        </div>
      </div>
      <div class="card-block right">
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </form>
  </div>
</div>


<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new loop</h4>
  <form class="left " [formGroup]="addLoopForm" (ngSubmit)="addLoop()" style="text-align:center">
    <div class="card-block">
      <div class="form-group">
        <input class="form-control" type="text" name="nome" formControlName="nome" placeholder="Nome" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="arquivo" formControlName="arquivo" placeholder="Arquivo" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="delay_main" formControlName="delay_main" placeholder="Delay Main" min="0" >
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="delay_extra" formControlName="delay_extra" placeholder="Delay Extra" step="any" min="0" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="method" formControlName="method" placeholder="Method" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="api" formControlName="api" placeholder="API" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="usuario_id" formControlName="usuario_id" placeholder="Id Usuário" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="usuario_token" formControlName="usuario_token" placeholder="Token Usuário" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="data" formControlName="data" placeholder="Data" >
      </div>
    </div>
    <div class="card-block right">
      <button class="btn btn-primary" type="submit" [disabled]="!addLoopForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </div>
  </form>
</div>